@import '../variables';

.error-block {
  text-align: center;
  justify-content: center;

  &__title {
    font-size: 32px;
    margin-bottom: 10px;
  }

  &__info {
    font-size: 18px;
  }

  &__image {
    width: 300px;
    margin: 45px 130px 60px;
  }
  
  .button-black {
    color: white;
    background: black;
    
  }
}

